* {
    box-sizing: border-box;
}

:root {
    --dark: #454545;
    --light:  #97ABB1;
    --text: #FCEBC5;
    --bright: #EB9486;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: var(--light);
}

header h1 {
    color: var(--text);
    background: var(--light);
    padding: 5px 1% 5px 8%;
    font-size: 4vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--light);
    background-image: linear-gradient(280deg, var(--bright) 0%, var(--bright) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2cm;
    background-position: bottom;
    font-size: 1.4em;
    transition: all .25s ease-in;
    color: var(--text);
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark);
}



.hero-text {
    position: absolute;
    right: 20px; 
    
}

.hero-text h2 {
    color: var(--text);
    background: var(--bright);
    font-size: 1.6em;
    padding: 10px;
    border-radius: 5px;
}
.container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#about-me-image {
    border: 2px solid var(--bright);
    border-radius: 5px;
    max-width: 20%;
    display: inline;
}

#about-me-text {
    padding: 10px;
    color: var(--text);
}


.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 0;
    
}

.left {
    padding: 5px;
    min-width: 150px;
    text-align: right;
    color: var(--text);
    border-right: 3px solid var(--bright);
}

.left h2 {
    margin-right: 5px;
}

.content {
    padding: 10px;
    margin: 5px 0 0 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-links {
    position: absolute;
    bottom: 5px;
    z-index: 2;
    text-decoration: none;
    color: var(--text);
    background: var(--light);
    padding: 10px;

}
img {
    width: 100%;
    height: 100%;
}

article {
    border: 1px solid var(--bright);
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

article:hover {
    opacity: 100%;
}

article:nth-child(1) {
    width: 100%;
}

.contact-links {
    width: 100%;
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.contact-links li a {
    text-decoration: none;
    font-size: large;
    color: var(--text);
    padding: 5px;
    border-bottom: 3px solid var(--bright);
}


@media screen and (max-width: 768px) {
    .flex-row {
        justify-content: left;
        flex-direction: column;
        width: 100%;
    }

    .left {
        border-bottom: 3px solid var(--bright);
        border-right: none;
    }
    .left h2 {
        text-align: left;
    }
    article {
        width: 100%;
        height: 350px;
    }
    .contact-links {
        justify-content: left;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
        header, nav {
            flex-direction: row;
        }
    }