/* GLOBAL */

* {
    box-sizing: border-box;
}

:root {
    --dark: #BF726B;
    --light: #FCF8EF;
    --text: #A62508;
    --bright: #D2D9D8;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 40px;
}

p {
    margin: 0;
}

/* HEADER */

header {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: var(--light);
}

header h1 {
    color: var(--text);
    background: var(--light);
    padding: 5px 1% 5px 8%;
    font-size: 3vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Crimson Pro', serif;
    background: var(--text);
}

nav > ul > li > a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    background-image: linear-gradient(280deg, var(--bright) 0%, var(--bright) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2cm;
    background-position: bottom;
    font-size: 1.4em;
    transition: all .25s ease-in;
    color: var(--bright) !important;
    }
nav .active {
    background-color: var(--bright) !important;
    color: var(--text) !important;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--dark);
}

nav .nav-tabs {
    border-bottom: none;
}

/* ABOUT */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0 30px 0;
}

.left {
    padding: 5px;
    min-width: 150px;
    text-align: right;
    color: var(--text);
    border-right: 3px solid var(--bright);
}

.left h2 {
    margin-right: 5px;
}

.content {
    padding: 10px;
    margin: 5px 0 0 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* CARDS */

.card-links {
    position: absolute;
    bottom: 5px;
    z-index: 2;
    text-decoration: none;
    color: var(--text);
    background: var(--light);
    padding: 10px;

}
img {
    width: 100%;
    height: 100%;
}

article {
    border: 1px solid var(--bright);
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

article:hover {
    opacity: 100%;
}

article:nth-child(1) {
    width: 100%;
}

/* CONTACT */

.contact-links {
    width: 100%;
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}
form {
    width: 50%;
    padding-left: 20px;
}
.contact-links li a {
    text-decoration: none;
    font-size: large;
    color: var(--text);
    padding: 5px;
    border-bottom: 3px solid var(--bright);
}

#button {
    background-color: var(--dark);
    border: 1px solid var(--dark);
    margin-top: 5px;
}

footer a {
    text-decoration: none;
    color: var(--dark);
    font-size: 40px;
}

footer a:hover {
    color: var(--bright);
}

@media screen and (max-width: 768px) {
    .flex-row {
        justify-content: left;
        flex-direction: column;
        width: 100%;
    }

    .left {
        border-bottom: 3px solid var(--bright);
        border-right: none;
    }
    .left h2 {
        text-align: left;
    }
    article {
        width: 100%;
        height: 350px;
    }
    .contact-links {
        justify-content: left;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
        header, nav {
            flex-direction: row;
        }
    }

    /* footer */

    .links {
        margin: 0 auto;
    }